asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
coverage==7.6.10 ; python_version >= "3.12" and python_version < "4.0"
django-filter==24.3 ; python_version >= "3.12" and python_version < "4.0"
django==4.2.2 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
flake8==7.1.1 ; python_version >= "3.12" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.12" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.1.0 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.3.6 ; python_version >= "3.12" and python_version < "4.0"
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.12" and python_version < "4.0"
pyflakes==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
redis==5.2.1 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
